.containerAdmin{
    width: 70%;
    margin: 0 auto;
    text-align: center;
  }

.contrasena{
    width: 20%;
    margin-bottom: 10px;
    margin-top: 100px;
}

.enviarContrasena{
    margin-left: 10px;
    height: 25px;
    width: 70px;
    transition: 0.5s;
}

.enviarContrasena:hover{
    cursor: pointer;
    filter: invert(10%);
    -webkit-filter: invert(10%);
}