@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

h3{
  color: black;
}

body{
  font-family: 'Poppins', sans-serif;
  background-color: #dddddd;
}

footer{
  color: #444444;
  font-size: 13px;
  margin: 100px;
}

.container{
  width: 90%;
  margin: 0 auto;
}

.Blog {
  text-align: center;
}

.Blog-header {
  height: 25vh;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  width: 100%;
}

.github{
  float: right;
  opacity: 0.5;
  transition: 1s;
}

.github:hover{
  opacity: 1;
}

@keyframes opacity{
  0%{
    opacity: 0.6
  }
  100%{
    opacity: 1;
  }
}