@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.containerCrear{
    width: 70%;
    margin: 0 auto;
    display: flex;
    align-self: center;
    justify-content: center;
    text-align: center;
}

.containerCrear form > * {
    width: 100%;
    max-width: 750px;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
}

.area{
    min-width: 750px;
}

.titulo{
    margin-top: 100px;
    width: 80%;
    align-self: auto;
    margin-bottom: 10px;
    height: 35px;
    font-size: 20px;
}

.sintesis{
    width: 80%;
    height: 50px;
    margin-bottom: 10px;
    max-height: 50px;
    min-width: 750px;
}

.autor{
    width: 80%;
    margin-bottom: 10px;
}

.area{
    width: 80%;
    height: 300px;
}

.enviar{
    height: 30px;
    transition: 0.5s;
}

.enviar:hover{
    cursor: pointer;
    filter: invert(10%);
    -webkit-filter: invert(10%);
}