@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.Nav{
    background-color: rgba(28,28,28,0.9);
    padding: 15px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    font-family: 'Montserrat', sans-serif;
}

.github{
    float: right;
    opacity: 0.5;
    transition: 1s;
    filter: invert(100%);
    -webkit-filter: invert(100%);
    margin: 0px 30px 0px 30px;
  }
  
  .github:hover{
    opacity: 1;
  }

input{
    height: 20px;
    align-self: center;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(251, 255, 255);
    font-size: 15px;
}

nav .navul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

nav > .navul > li{
    margin-right: 10px;
    padding: 3px;
    border: solid rgb(251, 255, 255);
    border-radius: 20px;
    transform: translate(-50px);
    transition: 0.5s;
}

nav > .navul > li:hover{
    background-color: #99999999;
}

nav a{
    color: rgb(251, 255, 255);
    text-decoration: none;
}

.dropdown-container {
    position: relative;
}

.dropdown {
    position: absolute;
    top: 100%;
    left: -180px;
    width: 180px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    max-height: 100px;
    overflow-y: auto;
    transition: 0.5s;
}

.dropdown ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.dropdown ul li {
    padding: 8px;
    border-bottom: 1px solid #cccccc;
}

.dropdown ul li a {
    text-decoration: none;
    color: #333333;
}

.dropdown:hover{
    cursor: pointer;
    filter: invert(10%);
    -webkit-filter: invert(10%);
}

.dropdown ul li a:hover {
    text-decoration: underline;
}