.prevista{
    width: 70%;
    /* border: solid black 1px; */
    height: fit-content;
    margin: 0 auto;
    margin-bottom: 100px;
}

.prevista a{
    color: black;
    text-decoration: none;
}

.imgprev{
    width: 50%;
    height: fit-content;
    object-fit: cover;
    float: left;
    border-radius: 10px;
}

.sintesisprev{
    color: #555555;
    margin: 15px;
}

.like{
    opacity: 0.5;
    transition: 0.5s;
    cursor: pointer;
}

.comentario{
    opacity: 0.5;
    transition: 0.5s;
    cursor: pointer;
}

.like:hover{
    opacity: 1;
}

.comentario:hover{
    opacity: 1;
}